<div class="home-section " style="height: 100vh;">
    <div class="container d-flex align-items-center justify-content-center h-100">
      <div class="row w-100">
        <div class="col-md-6 text-center text-md-start">
          <h1 class="home-heading">Hi, I'm <span class="text-orange">Giriprasath V M</span></h1>
          <p class="lead home-description">
            I am a passionate Information Technology student with a keen interest in software development, eager to make my mark in the tech world.
          </p>
          <a href="#projects" class="btn btn-orange btn-lg mt-3 explore-btn">Explore My Portfolio</a>
        </div>
  
        <div class="col-md-6 text-center">
          <div class="photo-wrapper">
            <img src="/me.png" alt="Giriprasath Photo" class="img-fluid home-photo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  

  