<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
  
    <a class="navbar-brand" href="#">
      <img src="/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5 fs-md-6" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-md-6" href="#aboutme">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-md-6" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-md-6" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fs-md-6" href="#contact">Contact</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="https://www.linkedin.com/in/giriprasath-v-m-286b75205/" target="_blank" class="btn btn-outline-primary mx-2 px-4 py-2 fs-5 rounded-pill">LinkedIn</a>
        <a href="https://github.com/VMGiriprasath" target="_blank" class="btn btn-outline-secondary mx-2 px-4 py-2 fs-5 rounded-pill">GitHub</a>
        <a href="/resume/Gp.pdf" target="_blank" class="btn btn-outline-warning mx-2 px-4 py-2 fs-5 rounded-pill">Resume</a>
      </div>
    </div>
  </div>
</nav>

<div class="col">
  <app-home id="home" class="section"></app-home>
  <app-about id="aboutme" class="section"></app-about>
  <app-skills id="skills" class="section"></app-skills>
  <app-projects id="projects" class="section"></app-projects>
  <app-contact id="contact" class="section"></app-contact>
</div>

<footer class="footer py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start">
        <p class="mb-0">&copy; 2024 Giriprasath VM. All Rights Reserved.</p>
      </div>

      <div class="col-12 col-md-6 text-center text-md-end">
        <a href="https://www.linkedin.com/in/giriprasath-vm/" target="_blank" class="social-icon me-3">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/giriprasath" target="_blank" class="social-icon me-3">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:your-email@example.com" class="social-icon">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>


